body{
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    width: 100px;
    height: 100px;
    background-color: #eee;
    box-shadow: -5px 0 0 red, 5px 0 0 #03a9f4;
    color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}